h1 Razer Deathadder 2020 

h2 banbrytande gamingmus från razer

img src="/img/mus.jpg" alt="Razer deathadder 2020"/

h2 599 kr minst asså (det säger sig självt)
h5 Populära Razer DeathAdder kommer nu i en uppdaterad version. Den har bland annat en ny sensor i form av Focus+ som klarar upp till 20.000 dpi, optiska brytare och en betydligt lägre vikt än sin föregångare. Om du gillade DeathAdder Elite kommer du älska DeathAdder V2.
